html {
    font-family: 'Alice', serif;
    font-size: 120%;
}

.sidebar {
    height: 100%; 
    width: 220px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #3d8dc2;
    color:  #ffffe6;
    overflow-x: hidden;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* The navigation menu links */
.sidebar a {
    text-decoration: none;
    color:  #ffffe6;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 240px; /* Same as the width of the sidebar */
    padding: 20px;
}

.avatar {
    width: 80%;
    border-radius: 50%;
    border: 3px double #ffffe6;
    display: block;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    text-align: center;
}

.post img {
    width: 80%;
    border-radius: 5px;
}

.fyp, span {
    display: flex;
    justify-content: center;
}

button {
    display: inline-block;
    background-color: #3d8dc2;
    border-radius: 10px;
    border: 3px double #ffffe6;
    color: #ffffe6;
    text-align: center;
    font-family: 'Alice', serif;
    font-size: 18px;
    padding: 5px;
    width: 90px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  button:hover {
    background-color: rgb(248, 182, 239);
  }

  .post_title {
      font-size: x-large;
  }